name: Continuous Integration
on:
  push:
    branches:
      - master
      - next_release
  pull_request:
    branches:
      - next_release
env:
  PACKAGE_PATH: docker.pkg.github.com/scriptsmith/gh-actions-test

jobs:
  build_dev:
    name: Build dev containers
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Docker login
        uses: azure/docker-login@v1
        with:
          login-server: docker.pkg.github.com
          username: $GITHUB_ACTOR
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build django image
        run: docker build -t $PACKAGE_PATH/runserver:latest . -f docker/dev/Dockerfile
      - name: Build node image
        run: docker build -t $PACKAGE_PATH/nodeserver:latest . -f docker/dev/Dockerfile-node
      - name: Publish images
        run: |
          docker push $PACKAGE_PATH/runserver:latest
          docker push $PACKAGE_PATH/nodeserver:latest

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Flake8 linting
        uses: ./.github/actions/flake8

  migration_check:
    name: Check migrations
    runs-on: ubuntu-latest
    needs: build_dev
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup-env
      - name: Docker login
        uses: azure/docker-login@v1
        with:
          login-server: docker.pkg.github.com
          username: $GITHUB_ACTOR
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Pull docker images
        run: docker-compose pull
      - name: Django migrations check
        run: ./scripts/check-migrations.sh

  unit_tests:
    name: Unit tests
    runs-on: ubuntu-latest
    needs: build_dev
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup-env
      - name: Docker login
        uses: azure/docker-login@v1
        with:
          login-server: docker.pkg.github.com
          username: $GITHUB_ACTOR
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Pull docker images
        run: docker-compose pull
      - name: Unit tests
        run: ./scripts/unit-tests.sh

  integration_tests:
    name: Integration tests
    runs-on: ubuntu-latest
    needs: build_dev
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup-env
      - name: Docker login
        uses: azure/docker-login@v1
        with:
          login-server: docker.pkg.github.com
          username: $GITHUB_ACTOR
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Pull docker images
        run: docker-compose -f docker-compose-teststack-base.yml -f docker-compose-teststack-dev.yml -f docker-compose.yml pull
      - name: Create log dir
        run: mkdir -p data/aloe/dev
      - name: Integration tests
        run: ./scripts/end2end-tests.sh
      - name: Upload test output
        uses: actions/upload-artifact@v2
        with:
          name: Aloe output
          path: data/aloe/dev

  system_checks:
    name: System checks
    runs-on: ubuntu-latest
    needs: build_dev
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup-env
      - name: Docker login
        uses: azure/docker-login@v1
        with:
          login-server: docker.pkg.github.com
          username: $GITHUB_ACTOR
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Pull docker images
        run: docker-compose pull
      - name: Django checks
        run: ./scripts/django-checks.sh
