name: Continuous Integration
on:
  push:
    branches:
      - master
      - next_release
  pull_request:
    branches:
      - next_release

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Flake8 linting
        uses: ./.github/actions/flake8
  migration_check:
    name: Check migrations
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Django migrations check
        run:
          - touch .env_local
          - docker-compose run --rm runserver django-admin makemigrations --dry-run --noinput --check
  # tests:
  #   name: Run tests
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - name: Unit tests
  #       uses: ./.github/actions/unit-tests
  #     - name: Integration tests
  #       uses: ./github/actions/integration-tests
  # audit:
  #   name: Check internal consistency
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - name: Django checks
  #       uses: ./github/actions/django-checks
  #     - name: JS dependency checks
  #       uses: ./github/actions/js-checks
